<div class="container-fluid">
  <p id="notice"><%= notice %></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>
        <strong>First name:</strong>
        <%= @profile.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @profile.last_name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= mail_to @profile.email %>
      </p>

      <p>
        <strong>Company name:</strong>
        <%= @profile.company_name %>
      </p>

      <% Profile::QUESTIONS.each do |k, v| %>
        <p>
          <strong><%= v[:question] %>:</strong>
          <%= v[:answers][@profile.send(k)] %>
        </p>
      <% end %>

      <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-warning' %>
      <%= link_to 'Delete', @profile, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <br><br>
      <%= link_to 'Back to Profile List', profiles_path, class: 'btn btn-default' %>
      <%= link_to 'Add new Profile', new_profile_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
